@import "font.css";
@import "footer.css";

/*body*/
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: serif;
    background-color: #fafcff;
}

/*header*/
header{
    width: 100%;
    background:url("../img/product.jpg") no-repeat center bottom;
    background-size:cover;
    height: 200px;
}
#headertext{
    position: absolute;
    top: 80px;
    left: 20px;
    font-size: 25pt;
    font-weight: bold;
}

/*content*/
#content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.jd{
    width: 35px;
    height: 35px;
    background:url("../img/jd.png") no-repeat center bottom;
    background-size:cover;
    margin-left: 10px;
}
.taobao{
    width: 35px;
    height: 35px;
    background:url("../img/taobao.png") no-repeat center bottom;
    background-size:cover;
    margin-left: 10px;
}
#title1{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 30pt;
    font-family: Art,serif;
}
#product1{
    width: 800px;
    height: 600px;
    background:url("../img/p1.png") no-repeat center bottom;
    background-size:cover;
    overflow: hidden;
    border-radius: 10px;
}
#des1{
    border-radius: 10px;
    position: relative;
    top:600px;
    height: 100%;
    font-family: Des, serif;
    font-size: 18pt;
    text-indent: 3rem;
    background-color: rgba(255,255,255,0.9);
    transition: top 0.5s ease;
}
#title2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 30pt;
    font-family: Art,serif;
}
#product2{
    width: 800px;
    height: 600px;
    background:url("../img/p2.png") no-repeat center bottom;
    background-size:cover;
    overflow: hidden;
    border-radius: 10px;
}
#des2{
    border-radius: 10px;
    position: relative;
    top:600px;
    height: 100%;
    font-family: Des, serif;
    font-size: 18pt;
    text-indent: 3rem;
    background-color: rgba(255,255,255,0.9);
    transition: top 0.5s ease;
}
#title3{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 30pt;
    font-family: Art,serif;
}
#product3{
    width: 800px;
    height: 600px;
    background:url("../img/p3.png") no-repeat center bottom;
    background-size:cover;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 5px;
}
#des3{
    border-radius: 10px;
    position: relative;
    top:600px;
    height: 100%;
    font-family: Des, serif;
    font-size: 18pt;
    text-indent: 3rem;
    background-color: rgba(255,255,255,0.9);
    transition: top 0.5s ease;
}
